body {

}

.header-awesome-container {
    background-color: #1F2937;
    padding: 12px;                  /* move the container 12px away from the border */
    
}

.logo-and-links-container {
    display: flex;                      /* put flex on the logo and links */
    align-items: center;                /* center the items in this container */
    justify-content: space-between;     /* put space between the header and the links */
}

h2 {
    color: #F9FAF8;     /* color for Header Logo */
    font-size: 24px;      /* size of Header Logo */
}

ul {
    display: flex;         /* used to force the links in a row */
    gap: 15px;             /* used to separate the links */
    list-style-type: none; /* removes the dots on the list items */
    font-size: 18px;       /* font-size for links */
}

a {
    text-decoration: none; /* removes the line under the links */
}

.header-link {
    color: #E5E7EB;      /* font color for header links */
}

.description-and-image {
    display: flex;         /* this is a container for the description 
                                and the image. flex is forcing the two to
                                stay in row format */
    justify-content: space-between; /* this is forcing the image and h1/p to
                                         remain separate */
}

.awesome-description {

}

h1 {
    font-size: 48px;        /* 48px for Hero Main text */
    font-weight: bolder;    /* extra-bold for Hero Main text */
    color: #F9FAF8;       /* color for Hero Main text */
}

p {
    font-size: 18px;        /* font-size for paragraph text */
    color: #E5E7EB;       /* color for paragraph text */
}

.sign-up-button {
    background-color: #3882F6; 
    border-radius: 6px;     /* used to round the button border */
    color: #E5E7EB;       /* text color on button */
    padding: 4px 20px;      /* change size of button */
    border: none;           /* remove border on button */
}

.kissing-cat-image {
    width: 300px;
    height: auto;
}

img {                       /* this will only affect the images within the 
                                random-information-container */
    width: 200px;
    height: auto;
}